# Ignore log output.
*.log

# Ignore all dotfiles except the whitelisted ones.
.*
!.env.example
!.github
!.gitignore
!.gitattributes
!.solhint.json
!.solhintignore
!.vscode
!.editorconfig

# Ignore foundry artifacts & cache.
out/
cache/
broadcast/

# Ignore internal interfaces.
tests/interfaces/internal/
